button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid transparent;
	border-color: $color__border-button;
	background: $color__background-button;
	color: rgba(255, 255, 255, .8);
    display: inline-block;
	@include font-size(1);
	line-height: 1;
    margin: 0 1rem 1rem 0;
	padding: .85em 1em;
    text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    transition: all .25s ease-out;
    vertical-align: middle;

	&:hover {
        background: #1583cc;
        border-top-left-radius: 1em;
		border-bottom-right-radius: 1em;
		/*border-color: $color__border-button-hover;*/
		/*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);*/
        color: #fff;
        outline: 0;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 4px 10px rgba(0, 0, 0, 0.15);
	}
}