// Site Header
.site-header{
	border-top: 2px solid black;
	height: auto;
	background: linear-gradient(to top, rgba(255,0,0,0), rgb(119, 20, 20));
	padding: 0 2em;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-direction: row;
}

.site-branding{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    p{
        margin: 0;
    }

    .site-title{
        display: none;
    }
    
    .site-description{
        justify-content: center;
    }
}

@media screen and (min-width: 37.5em) {
    .site-header{
        height: 20vh;
        flex-direction: row;
    }
    
    .site-branding{
        width: 50%;
        justify-content: flex-start;
        flex-direction: row;

        .site-description{
            border-left: 1px solid white;
            margin-left: 1em;
            padding-left: 1em;
        }
    }
}