/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

.nav-collapse li {
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 37.5em) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
    
    // Desktop style nav
    .main-navigation {
        clear: both;
        display: block;
        float: left;
        width: 50%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding-left: 0;
            
            li{
               width: auto; 
                
                a {
                    color: white;
                    text-decoration: none;
                    
                    &:after{
                        content: '';
                        display: block;
                        margin: auto;
                        height: 3px;
                        width: 0px;
                        transition: width .5s ease, background-color .5s ease;
                    }
                    
                    &:hover:after{
                        width: 100%;
                        background: #D7342C;
                    }
                }
            }
        }

        .current_page_item > a,
        .current-menu-item > a,
        .current_page_ancestor > a {
            font-weight: 700;
        }
    }
}



/*
@media screen and (min-width: 37.5em) {
.menu-toggle {
    display: none;
}
    
}
*/