h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
    a{
        color: $color__link;
        text-decoration: none;
        
        &:hover{
            color: $color__link-hover;
            text-decoration: underline;
        }
        
        &:visited{
            color: $color__link;
        }
    }
}