$color__background-body: #606048;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgb(119, 20, 20);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #fff;
$color__text-input-focus: #111;
$color__cite: rgb(136, 64, 64);
$color__link: rgb(119, 20, 20);
$color__link-visited: rgb(175, 31, 31);
$color__link-hover: rgb(51, 10, 10);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #0f2d3b;
$color__border-input: #ccc;
$color__border-abbr: #666;
